body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contains_all_expense_app {
    max-width: 320px;
    margin: auto;
}
header {
    background-color: antiquewhite;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#humberger {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 23px;
    cursor: pointer;
}
.main_title {
    text-align: center;
    color: rgb(231, 20, 250);
}
.bold {
    opacity: 0.5;
    padding-left: 15px ;
    font-size: 22px;
}
.display1 {
    margin-block: 20px 30px;
    text-align: center;
}
.display1 h2 {
    margin-bottom: 5px;
}
.insert_amount {
    padding-left: 15px;
    margin-top: 0;
}
.amount_diplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    margin: auto;
}
.breaker {
    transform: rotate(0deg);
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 100px;
}
/* .income {
    border-right: 3px solid rgba(0, 0, 0, 0.3);
    padding-right: 30px;
} */
#income {
    color: lightgreen;
}
#expense {
   color: red;
}
hr {
    opacity: 0.6;
}
.history h2{
    margin-bottom: 0;
    padding-left: 0;
}
.added_task {
    margin-block: 40px;
    max-height: 140px;
    overflow-y: scroll;
}
.task {
    max-width: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
/* for drag and drop css selectro */
.draggeditem {
    opacity: 0.5;
}
#task_text {
    margin-left: 20px;
    font-size: 17px;
    font-weight: 560;
}
.text_icon {
    display: flex;
    align-items: center;
}
.fa-solid {
    color: red;
    cursor: pointer;
}
.inputs_options h2 {
    padding-left: 0;
    margin-bottom: 0;
}
.task_modules {
    width: 100%;
}
.task_modules h3 {
    margin-bottom: 5px;
}
#task_name {
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
#task_name::placeholder, #amount_text::placeholder {
    font-size: 16px;
    opacity: 0.6;
}
.selct {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-block: 15px;
}
select {
    width: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: -10px;
}
#amount_text {
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
#task_added {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: rgb(157, 79, 231);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    transition: transform 0.2s ease;
}
#task_added:active {
    transform: scale(0.97);
}
.profile_display {
    display: none;
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    border-left: 2px solid orangered;
    box-shadow: -10px 0 10px -8px orange, 0 0 10px rgba(0, 0, 0, 0.267);
}
.display2 {
    animation: smoothslidein 1.2s ease-in-out alternate;
    display: block;
}
@keyframes smoothslidein {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.body {
    position: sticky;
}
.image {
    width: 150px;
    height: 150px;
    border: 5px solid rgba(0, 0, 0, 0.374);
    border-radius: 50%;
    margin: auto;
    margin-block: 20px;
    position: relative;
    z-index: 2;
}
.image img {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.insert_img {
    text-align: center;
    margin: auto;
    margin-block: 20px;
}
.insert_img input {
    display: none;
}
label[for="insert_imgs"]:active {
    transform: scale(0.97);
}
label[for="insert_imgs"] {
    font-size: 17px;
    font-weight: 560;
    background-color: lightgreen;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
/* .insert_img input::before {
    content: 'Enter Profile';
    display: block;
    width: 120px;
    height: auto;
    font-size: 17px;
    font-weight: 560;
    background-color: lightgreen;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
} */
.profile_name {
    text-align: center;
    color: orange;
    font-weight: 560;
    font-size: 18px;
    margin-bottom: 100px;
}
.information h2 {
    color: rgba(49, 48, 48, 0.623);
    font-size: 20px;
}
.information h2 span {
    font-size: 17px;
    color: black;
}
#log_out {
    width: 100px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-top: 23px;
    margin-bottom: 10px;
    cursor: pointer;
}
#log_out:active {
    transform: translateX(-50%) scale(0.97);
}
#save {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    padding: 5px 15px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 550;
    cursor: pointer;
}
#save:active {
    transform: scale(0.97);
}

.code_here {
    position: absolute;
    right: -150px;
    top: 100px;
}
.showhere {
    right: 0;
}
.code_here a {
    color: white;
    background-color: black;
    padding: 5px 10px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}
.code_sign {
    cursor: pointer;
}

@media (min-width: 600px) {
    .contains_all_expense_app {
        max-width: 400px;
    }
}
@media (min-width: 740px) {
    .contains_all_expense_app {
        max-width: 500px;
    }
}